<div class="container-fluid">
  <ul class="row fixed-top">
    <div class="row">
      <%= link_to "WeightAppホーム",root_path, class: 'btn btn-link' %>
      <% if logged_in? %>
        <%= link_to "ログアウト",logout_path, method: :delete, class: 'btn btn-link' %>
        <%= link_to "体重記録", new_human_weightpost_path(:human_id), class: 'btn btn-link' %>
        <%= link_to "プログレス", human_weightposts_path(:human_id), class: 'btn btn-link' %>
        <%= link_to "退会", human_path(:human_id), method: :delete, 
        data: { confirm: '退会しますか？今までの記録は全て削除されます。' }, class: 'btn btn-link' %>
        <%= link_to current_user.name, human_path(:human_id), class: 'btn btn-link' %>
      <% else %>
        <%= link_to "登録", new_human_path, class: 'btn btn-link' %>
        <%= link_to "ログイン",login_path, class: 'btn btn-link' %>
      <% end %>
    </div>>
  </ul>
</div>
